<p>
Hi! I'm Juan, an aspiring software developer. Venezuela was my birthplace, 20-odd years ago, but I consider myself to be a citizen of the world; I hold both Venezuelan and Spanish citizenships. Though, this tropical paradise couldn't do much to stray me
from developping a deep fascination with science and everything technological ever since I was a kid. 

There were two things that led me to this career path: A toy keyboard synth, and Doom. 

I have many interests, music, electric movility, electronics, soccer, energy transition, science in general.

I like games, but I wouldn't define myself as a gamer. If I had to pick 3, I'd choose Half Life 2, KOTOR and FTL.

The "Zappa" part of my github's username refers to Frank Zappa, one of my favourite musicians. Appart from him, my favourite band would definitely be 
Radiohead, but I like many things in music. From Robert Glasper to Quincy Jones, Pink Floyd to Radio Moscow, Tangerine Dream to Kraftwerk, RHCP to Incubus etc. I also like classical music a lot, specially Russian composers like Rachmaninoff, Musorgsky, Shostakovich and Korsakov. I used to like grunge, but nowadays it just smells funny to me. Even though it's hard for me to admit to it, I listen to Soda Stereo and Jorge Drexler from time to time, Dynamo is the former's favorite disk of mine. I guess that means that I'm into shoegaze, crap!

When it comes to movies, I'm pretty vapid. I love both Blade Runner films, the OG Star Wars trilogy and the LOTR trilogy.

</p>
